@import '../../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers';

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;

// Define your breakpoints
$desktop: new-breakpoint(min-width 960px 12); // looks up
$tablet: new-breakpoint(min-width 481px 8);   // looks up
$phone: new-breakpoint(max-width 480px 4);    // looks down