@import '../../../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers';

// Change the grid settings
$column: rem(90);
$gutter: rem(30);
$grid-columns: 12;
$max-width: rem(1200);

// Define your breakpoints
$desktop: new-breakpoint(min-width rem(960) 12); // looks up
$tablet: new-breakpoint(min-width rem(481) 8);   // looks up
$phone: new-breakpoint(max-width rem(480) 4);    // looks down